table {
  border-spacing: 0 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

th {
  padding: 10px 20px;
  background: blue;
  color: white;
  border-right: 2px solid;
  font-size: 0.9em;
}

td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

td:first-child {
  border-left: 2px solid black;
}
